$border: #2F3357;
$border-light: #DAE3E4;
$accent: #496BFF;
$hover: #6D89FF;
$press: #1F46EF;
$red: #FB3333;
$gray: #939ba1;
$text: #2F3357;
$succes: #25AE33;
$range-blue: #72A2FE;
$range-red: #FE8383;
$range-red-focus: #F75353;