$pfx: "box";

.#{$pfx} {
    position: relative;

    &__link {
        cursor: pointer;

        svg {
            display: inline-block;
        }

        &:hover {
            svg {
                path {
                    fill: $hover;
                }
            }
        }

        &:active {
            svg {
                path {
                    fill: $press;
                }
            }
        }
    }

    &__hide {
        position: absolute;
        box-shadow: 0px 0px 8px rgba(206, 207, 226, 0.41);
        border-radius: 8px;
        background: white;
        right: -15px;
        top: 100%;
        margin-top: 10px;
        white-space: nowrap;
        z-index: 10;
        display: none;

        &:before {
            content: '';
            position: absolute;
            top: -28px;
            right: 14px;
            background: white;
            border: 7px solid transparent;
            transform: rotate(45deg) translateX(15px) translateY(15px);
            box-shadow: 0px 0px 8px rgba(206, 207, 226, 0.41);
        }

        ul {
            list-style: none;
            padding: 10px 16px;
            margin: 0;
            background: white;
            position: relative;

            li {
                &.current {
                    a {
                        color: $accent;

                        svg {
                            path {
                                fill: $accent;
                            }
                        }
                    }
                }

                a {
                    font-size: 14px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    color: $text;

                    svg {
                        margin-right: 8px;
                    }

                    &:hover {
                        color: $accent;

                        svg {
                            path {
                                fill: $accent;
                            }
                        }
                    }

                    &:active {
                        color: $press;

                        svg {
                            path {
                                fill: $press;
                            }
                        }
                    }
                }
            }
        }
    }

    &.open {
        .#{$pfx}__hide {
            display: block;
        }
    }

    &-add {
        .#{$pfx}__hide {
            right: 0;
        }
    }

    &-setting {
        .#{$pfx}__link {
            svg {
                display: block;
            }
        }

        .#{$pfx}__hide {
            right: -11px;
        }
    }

    &-user {
        .#{$pfx}__hide {
            right: 0px;
        }
    }

    &.export {
        .#{$pfx}__hide {
            right: 0px;
            margin-top: 15px;
        }
    }
}