*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    font-size: 15px;
    min-width: 320px;
    letter-spacing: 0.5px;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px 0;
    padding: 0;
}

ol,
ul {
    padding-left: 20px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

input {
    font-family: 'Gilroy';

    &:focus {
        outline: 0;
    }
}

button {
    font-family: 'Gilroy';

    &:focus {
        outline: 0;
    }
}

.container {
    padding-left: $fields;
    padding-right: $fields;
}

.main-page {
    margin: 100px 0;
}

#site {
    position: relative;
    padding-top: 90px;
}

.head-page {
    margin: 42px 40px 36px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        h1 {
            margin: 0;
            font-size: 28px;
            letter-spacing: 1px;
            line-height: 42px;
        }
    }

    &__btn {
        display: flex;

        &-col {
            margin-left: 24px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.scroll {
    padding-left: 40px;

    &__wrap {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 30px;
        margin-top: -30px;
    }

    &__item {
        -ms-flex: 0 0 506px;
        flex: 0 0 506px;
        max-width: 506px;
        margin-right: 22px;
        margin-bottom: 22px;

        &:last-child {
            margin-right: 0;
            padding-right: 40px;
        }
    }
}

.mCSB_draggerContainer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    top: 50%;
    background: #eee;
    margin-top: -1px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 40px !important;
}

